.jumbotron {
    background-image: url(./assets/amin-ramezani-w2My0OSSi_0-unsplash.jpg);
    background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  background-color: rgba(0, 0, 0, 0.5);
  }

  .jumbotron h1 {
    font-weight: bold;
    font-size: 3rem;
  }

  .about-text {
    font-size: 1.2rem;
  }

  .card-img-top {
    height: 200px; 
    object-fit: cover; 
  }

  #menu .btn,
#reviews .btn {
  background-color: #c11d00; 
  border-color: #c11d00; 
}

#menu .btn-primary,
#reviews .btn-primary {
  background-color: #c11d00; 
  border-color: #c11d00; 
}

#menu .btn-primary:hover,
#reviews .btn-primary:hover {
  background-color: #7e1300; 
  border-color: #7e1300;
}
  